* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("Imagenes/fondo.jpg");
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

h1 {
    background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
    box-shadow: 0px 2px 5px gray;
}

h3 {
    background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
    margin: 1px;
    text-align: left;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
    box-shadow: 0px 2px 5px gray;
}

.h32 {
    background: linear-gradient(to right, rgb(12, 43, 105),rgb(63, 82, 124));
    margin: 1px;
    text-align: left;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
    box-shadow: 0px 2px 5px gray;
}

.h3SN{
    background: none;
    margin: none;
    text-align:center;
    text-transform: none;
    color: black;
    padding: none;
    box-shadow: none;
}

.contenedor {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(207, 210, 214, 0.74);
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 2px 2px 7px rgb(115, 123, 134);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .contenedor {
        width: 90%;
    }
}

.contenedor2 {
    width: auto;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(229, 237, 238, 0.788);
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 2px 2px 7px rgb(115, 123, 134);
    border-radius: 10px;
}

.contenedor3 {
    width: auto;
    max-width: 600px;
    margin: auto;
   background-color:  rgba(227, 231, 236, 0.795);
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 2px 2px 7px rgb(115, 123, 134);
    border-radius: 10px;
}
.contenedor4 {
    width: auto;
    max-width: 600px;
    margin: auto;
   background-color:  rgba(62, 63, 65, 0.795);
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgb(115, 123, 134);
    border-radius: 10px;
    border: solid 1px black;
}

@media (max-width: 600px) {
    .contenedor2 {
        width: 90%;
    }
}

.creditos {
    text-align: center;
    color: #fff;
    position: relative;
    margin-left: auto;
    margin-bottom: auto;
    background-color:  rgba(103, 138, 208, 0.612);


}




h2,
p {
    color: rgb(17, 22, 37);
}

h2 span,
p span {
    color: rgb(12, 12, 12);
}


img {
    border-radius: 60%;
    width: 100px;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    border: solid 1px black;
    background: linear-gradient(to right, rgb(22, 33, 54), rgb(68, 76, 85));
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 400ms;
}

button:hover {
    transform: scale(1.1);
}


